<md-list-item layout="row" layout-padding flex>
	<div>
		<h2 class="md-title">Data-Driven Design of Cell Factories and Communities</h2>

		<p>Welcome to DD-DeCaF platform - the collection of bioinformatics services helping to design cells and microbial communities.</p>

		<h2 class="md-title">Software Tools</h2>
		<md-list-item class="md-2-line md-long-text" ng-href="http://cameo.bio/">
			<img ng-src="/img/logos/cameo_logo.svg" style="max-width: 200px; padding: 10px; width: 50%; height: 50%">
			<div class="md-list-item-text">
				<p>Cameo is a high-level python library developed to aid the strain design process in metabolic engineering projects.</p>
			</div>
		</md-list-item>
		<md-list-item class="md-2-line md-long-text" ng-href="https://zenodo.org/record/228165#.WG0UiR-uOkD">
			<img ng-src="/img/logos/optlang.png" style="max-width: 200px; padding: 10px; width: 50%; height: 50%">
			<div class="md-list-item-text">
				<p>Optlang is a Python package implementing a modeling language for solving mathematical optimization problems, i.e. maximizing or minimizing an objective function over a set of variables subject to a number of constraints.</p>
			</div>
		</md-list-item>
		<md-list-item class="md-2-line md-long-text" ng-href="https://escher.github.io/">
			<img ng-src="/img/logos/escher_logo.png" style="max-width: 200px; padding: 10px; width: 50%; height: 50%">
			<div class="md-list-item-text">
				<p>Escher is a web-based tool for building, viewing, and sharing visualizations of biological pathways.</p>
			</div>
		</md-list-item>
	</div>
</md-list-item>
